<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Downloader</title>
    <link rel="icon" type="image/png" href="ico.png" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬇️</text></svg>">
</head>
<body>
    <main class="container">
        <header>
            <h1>Advanced Media Downloader 🚀</h1>
            <p>Paste a video link from over 500+ supported sites.</p>
            <p>Developed By SANTHOSH_A  <a href="https://github.com/A-Santhosh-Hub">GIT_HUB</a></p>
        </header>

        <section class="url-input-section">
            <form id="url-form">
                <input type="url" id="video-url" placeholder="https://www.youtube.com/watch?v=..." required>
                <button type="submit" id="fetch-btn">Fetch Formats</button>
            </form>
            <div id="loader" class="loader" style="display: none;"></div>
        </section>

        <section id="results-section" class="hidden">
            <div class="video-info">
                <img id="video-thumbnail" src="" alt="Video Thumbnail">
                <h2 id="video-title"></h2>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Resolution</th>
                            <th>Format</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="formats-table">
                        </tbody>
                </table>
            </div>
        </section>

        <section id="progress-section" class="hidden">
            <h3>Download Progress</h3>
            <p id="progress-status">Initializing...</p>
            <div class="progress-bar-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <p id="progress-details"></p>
        </section>
        
        <div id="error-message" class="error-message hidden"></div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
